html
  head
    title Login/Register Form
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    table.table-admin
      thead.thead-admin
        tr
          th.col-admin Name
          th.col-admin Email
          th.col-admin Activated
          th.col-admin Action
      tbody.tbody-admin
        each user in users
          tr.row-admin
            td.col-admin= user.name
            td.col-admin= user.email
            td.col-admin= user.active ? 'Yes' : 'No'
            td.col-admin
              form(method='POST', action=`/activate/${user.id}`)
                if user.active
                  button.deactivate-button(type='submit') Deactivate
                else
                  button.activate-button(type='submit') Activate
