html
  head
    title Login/Register Form
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .form
      if showLogin
        h2 Login
        h3 #{authErrorMessage}
        form(method="POST"  onsubmit="return sendLoginData()")
          div#error
          label(for="login") Login
          input(type="text" id="login" name="login" required)
          label(for="password") Password
          input(type="password" id="password" name="password" required)
          input(type="submit" class="loginFormButton" value="Login")
          button(type="button" class="loginFormButton" onclick="toggleForm()") Switch to register
      else
        h2 Register
        h3 #{authErrorMessage}
        form(method="POST" onsubmit="return sendRegisterData()")
          div#error
          label(for="login") Login
          input(type="text" id="login" name="login" required)
          label(for="email") Email
          input(type="email" id="email" name="email" required)
          label(for="email-confirm") Confirm Email
          input(type="email" id="email-confirm" name="email-confirm" required)
          label(for="password") Password
          input(type="password" id="password" name="password" required)
          label(for="password-confirm") Confirm Password
          input(type="password" id="password-confirm" name="password-confirm" required)
          input(type="submit" class="loginFormButton" value="Register")
          button(type="button" class="loginFormButton" onclick="toggleForm()") Switch to login

    script(src='/javascripts/script.js')
      
