body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}
.form {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
label,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #f1f1f1;
}

label {
  font-weight: bold;
}
input[type="submit"] {
  margin-top: 48px;
}
input[type="submit"],
button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}
button {
  background-color: #008cba;
}
input[type="submit"]:hover,
button:hover {
  background-color: #3e8e41;
}

#error {
  color: #f00;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody td {
  padding: 8px;
}

button.activate-button,
button.deactivate-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

table {
  height: 200px;
  overflow: auto;
}
