body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}
.form {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
label,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
.loginFormButton {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #f1f1f1;
}

label {
  font-weight: bold;
}
input[type="submit"] {
  margin-top: 48px;
}
input[type="submit"],
.loginFormButton {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}
.loginFormButton {
  background-color: #008cba;
}
input[type="submit"]:hover,
.loginFormButton:hover {
  background-color: #3e8e41;
}

#error {
  color: #f00;
}

.table-admin {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.col-admin {
  padding: 1rem;
  text-align: left;
}

.col-admin:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.col-admin:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.thead-admin th {
  background-color: #f1f1f1;
  color: #333;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.row-admin:nth-child(even) {
  background-color: #f9f9f9;
}

.row-admin:hover {
  background-color: #ddd;
}

.activate-button,
.deactivate-button {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
  margin-right: 8px;
  transition: background-color 0.3s ease;
}

.activate-button:hover {
  background-color: #3e8e41;
}

.deactivate-button:hover {
  background-color: #c62828;
}

@media (max-width: 768px) {
  .col-admin {
    font-size: 14px;
  }

  .thead-admin th {
    font-size: 14px;
  }

  .activate-button,
  .deactivate-button {
    font-size: 12px;
    padding: 6px 8px;
  }
}
